@import '../../variable_general';

$fond_jeu_5: #1A203B;

body {
    background-color: $fond_jeu_5;
    touch-action: none;
}

#game { 
    width: 100vw; 
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

.brosse {
    z-index: 500;
    width: 65px;/* Taille de la hitbox */
    height: 43px;/* Taille de la hitbox */
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.brosse img {
    width: 400px; /* Taille de l'image */
    height: 50px; /* Taille de l'image */
}

.dentifrice {
    z-index: 500;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 120px;
    right: 350px;
}

.dentifrice img {
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: -30px;
}

.bouche {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.bouche img{
    width: 100%;
    transition: opacity 1s ease-in-out; /* 1s pour une transition d'une seconde */
}

