@import '../../../style_general';

body {
    background: url('/assets/images/Jeu5.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: auto;
    margin: 0;
}

.text-box {
    width: 80%;
    background-color: $color-white;
    color: $color-black;
    padding: 20px;
    text-align: center;
    box-shadow: $box-shadow;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
    bottom: 325px; 
    border: 4px solid $color-black; 
    z-index: 100;
}

.container_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
}
