{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('composants/button/button.css') }}">
{% endblock %}

<button class="{{ class }}" onclick="{{onclick}}"><p class="para--regular para--large">{{contenue | raw}}</p></button>