@import '../../style_general';

.profil-container {
    width: 90%;
    background-color: $color-white;
    padding: 20px;
    text-align: center;
    display: block;
    position: relative;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);

    .profil-title {
        margin-bottom: 125px;
    }

    .profil-menu {
        display: flex;
        flex-direction: column;

        .profil-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px;
            text-decoration: none;
            color: black;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }

            &::after {
                content: "›";
                font-size: 70px;
                color: #888;
            }
        }
    }
}