@import 'variable_general';
/* SCSS */
// Typographie Global

.titre {
    &--regular {
        font-family: 'Mic32New-Rg';
    }

    &--regular-it {
        font-family: 'Mic32New-RgIt';
    }

    &--bold {
        font-family: 'Mic32New-Bd';
    }

    &--bold-it {
        font-family: 'Mic32New-BdIt';
    }

    &--light {
        font-family: 'Mic32New-Lt';
    }

    &--light-it {
        font-family: 'Mic32New-LtIt';
    }

    &--medium {
        font-family: 'Mic32New-Md';
    }

    &--medium-it {
        font-family: 'Mic32New-MdIt';
    }

    &--extralarge{
        font-size: 128px;
    }
    &--large{
        font-size: 80px;
    }
}

.para {


    &--regular {
        font-family: 'SourceSansPro-Regular';
    }

    &--italic {
        font-family: 'SourceSansPro-Italic';
    }

    &--bold {
        font-family: 'SourceSansPro-Bold';
    }

    &--bold-it {
        font-family: 'SourceSansPro-BoldItalic';
    }

    &--light {
        font-family: 'SourceSansPro-Light';
    }

    &--light-it {
        font-family: 'SourceSansPro-LightItalic';
    }

    &--extra-light {
        font-family: 'SourceSansPro-ExtraLight';
    }

    &--extra-light-it {
        font-family: 'SourceSansPro-ExtraLightItalic';
    }

    &--semibold {
        font-family: 'SourceSansPro-SemiBold';
    }

    &--semibold-it {
        font-family: 'SourceSansPro-SemiBoldItalic';
    }

    &--black {
        font-family: 'SourceSansPro-Black';
    }

    &--black-it {
        font-family: 'SourceSansPro-BlackItalic';
    }

    &--extralarge{
        font-size: 48px;
    }
    &--large{
        font-size: 40px;
    }
    &--medium{
        font-size: 32px;
    }
    &--small{
        font-size: 24px;
    }

    
}

html,body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

main {
    background-color: $color-white; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100%; 
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

.score-container {
    text-align: center;
    display: block;
    position: fixed;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    h1{
        color: $color-white;
    }
}