<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="{{ asset('polices.css') }}">
        <link rel="stylesheet" href="{{ asset('style_general.css') }}">
        
        {% block stylesheets %}
            {# Feuilles de style globales, par exemple : #}
            {#<link rel="stylesheet" href="{{ asset('styles/app.css') }}">#}
        {% endblock %}
        
        {% block javascripts %}
            {# Scripts JS globaux, par exemple : #}
            {#<script src="{{ asset('scripts/app.js') }}"></script>#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
