@import '../../style_general';

body {
    background: url('/assets/images/fondRamasseur.jpg') no-repeat center center fixed;
    background-size: cover;
}

.fixed-jauge {
    position: fixed;
    top: 30%;
    left: 20px;
    transform: translateY(-50%);
    width: 100px; // Ajuste la taille selon ton besoin
    height: auto;
}

.tirelire {
    position: absolute;
    bottom: 10%; // Position initiale
    left: 50%; 
    transform: translateX(-50%); // Centre au départ
    width: 300px; // Ajuste selon l'image
    height: auto;
    touch-action: none; // Empêche le comportement natif de toucher
}

.falling-object {
    position: absolute;
    top: 0;
    width: 80px; // Ajuste la taille des objets
    height: auto;
    transition: transform 0.1s linear;
}
