// Style de la pop-up
@import '../../variable_general';

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
    display: block; 
}

.popup-container {
    width: 80%;
    background-color: $color-white;
    border-radius: $border-radius-pop-up;
    box-shadow: $box-shadow;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
    max-width: 90%; 
    
}

.popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.popup-header h1{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}

.popup-main{
    position: relative;
    margin: 0px 50px;
}

.conteneur_button_column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.conteneur_button_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}

