@import '../../style_general';

.admin-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 20px 175px 20px;
}

.admin-title {
    text-align: center;
    margin-bottom: 20px;
}

.admin-table-container {
    max-height: 750px;  /* Limiter la hauteur du tableau */
    overflow-y: auto;   /* Activer le défilement vertical si nécessaire */
    margin: 50px 0;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th, .admin-table td {
    border: 1px solid $color-white;
    padding: 10px;
    text-align: center;
}

.admin-table th {
    background-color: $color-white;
}

.admin-table tr:nth-child(even) {
    background-color: $color-white;
}

.admin-table tr:hover {
    background-color: #f1f1f1;  /* Ajoute un survol pour améliorer l'expérience utilisateur */
}

.game-stats{
    h2{
        text-align: center;
    }
}

.logout-container {
    text-align: center;
    margin: 50px;
}

.btn-logout {
    display: inline-block;
    padding: 10px 15px;
    background-color: $color-blue-main;
    color: $color-white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn-logout:hover {
    background-color: blue;
}
