@import '../../../style_general';

body {
    background: url('/assets/images/Jeu3/background.png') no-repeat center center fixed;
    background-size: cover;
}

.fixed-jauge {
    position: fixed;
    top: 30%;
    left: 20px;
    transform: translateY(-50%);
    width: 100px; // Ajuste la taille selon ton besoin
    height: auto;
}

.dino {
    position: absolute;
    bottom: 27%; // Position initiale
    left: 20%; 
    transform: translateX(-50%); // Centre au départ
    width: 150px; // Ajuste selon l'image
    height: auto;
    touch-action: none; // Empêche le comportement natif de toucher
}

.falling-object {
    position: fixed; /* ou absolute si vous changez le positionnement */
    bottom: 27%;
    width: 30px;
    height: auto;
    z-index: 800;
    transform: translate3d(0, 0, 0);
  }
  

.iban-container {
    text-align: center;
    display: block;
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }