@import '../../style_general';

.main_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



.number1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 10px 0;
    margin-bottom: 30px;
    width: 100%;
    background-color: $color-blue-main;
    border-radius: 0 0 $border-radius-pop-up $border-radius-pop-up;
}

.number1_position img{
    width: 130px;
    height: auto;
}

.number1 p{
    margin: 0px 0px;
    color: $color-white
}

.classement{
    width: 80%;
}
.classement .classement_container{
    height: 1200px;
}

.filter_bar {
    height: 100px;
    background-color: $color-white;
    border-radius: $border-radius-pop-up;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin: 20px 0;
}

.share_score, .game_name, .search_player {
    width: 250px;
    background: transparent;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_name {
    border-right: 4px solid $color-black;
    border-left: 4px solid $color-black;
    appearance: none; 
    height: 100px;
}

.game_name option {
    font-size: 14px; 
    text-align: center;
}

.search_player::placeholder {
    color: $color-black;
}