@import '../../variable_general';

.btn {
    color: $color-white;
    width: 40%;
    border-radius: $border-radius-pop-up;
    border: 4px solid $color-black;
    background-color: $color-blue-main;

    &--easy,
    &--normal,
    &--hard {
        @extend .btn; // Héritage des styles de .btn
    }

    &--easy {
        background-color: $color-niv-easy;
    }

    &--normal {
        background-color: $color-niv-normal;
    }

    &--hard {
        background-color: $color-niv-hard;
    }
}

.btn p{
    margin: 20px 10px;
}