@import '../../../style_general';


#fond-ramasseur{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.falling-object {
    animation: fadeIn 0.5s ease-in-out;
}

.falling-object {
    position: absolute;
    top: 0;
    width: 80px; 
    height: auto;
    transition: transform 0.1s linear;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.falling-object.spin {
    animation: spin 4s linear infinite;
}

body.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(15px);
    }
    75% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0);
    }
}

.fixed-jauge {
    position: fixed;
    top: 30%;
    left: 20px;
    transform: translateY(-50%);
    width: 100px; // Ajuste la taille selon ton besoin
    height: auto;
}

.tirelire {
    position: absolute;
    bottom: 10%; // Position initiale
    left: 50%; 
    transform: translateX(-50%); // Centre au départ
    width: 300px; // Ajuste selon l'image
    height: auto;
    touch-action: none; // Empêche le comportement natif de toucher
}

.falling-object {
    position: absolute;
    top: 0;
    width: 80px; // Ajuste la taille des objets
    height: auto;
    transition: transform 0.1s linear;
}
