@import 'tableau.scss';

body:has(.background-alt){
    background: url('/assets/images/accueil_ferme.png') no-repeat center center fixed;
    background-size: cover;
}

.tableau_acceuil{
    top: calc(30% + 2vh);
    left: calc(26% + 3vw);
    width: calc(33% - 4vw);
    height: calc(24.5% - 5vh);
}